@if $ls-enable-grid-spacers {
  // Loop through spacers
  @each $id, $spacer in $ls-spacers {

    // Loop between margin and padding
    @each $property, $prop-alias in (margin: m, padding: p) {

      // margin and padding on all sides
      .#{$prop-alias}-#{$id} {
        #{$property}: $spacer !important;

        @include ls-mq-property($property, $spacer);
      }

      // margin and padding on Y axis
      .#{$prop-alias}y-#{$id},
      .#{$prop-alias}t-#{$id} {
        #{$property}-top: $spacer !important;

        @include ls-mq-property($property, $spacer);
      }

      .#{$prop-alias}y-#{$id},
      .#{$prop-alias}b-#{$id} {
        #{$property}-bottom: $spacer !important;

        @include ls-mq-property($property, $spacer);
      }

      // margin and padding on X axis
      .#{$prop-alias}x-#{$id},
      .#{$prop-alias}r-#{$id} {
        #{$property}-right: $spacer !important;

        @include ls-mq-property($property, $spacer);
      }

      .#{$prop-alias}x-#{$id},
      .#{$prop-alias}l-#{$id} {
        #{$property}-left: $spacer !important;

        @include ls-mq-property($property, $spacer);
      }
    }
  }

  // Loop automatic margins
  @each $key, $prop in $sides {
    .m#{$key}-auto,
    %m#{$key}-auto {
      #{$prop}: auto !important;

      @include ls-mq-property($prop, auto);
    }
  }

  // Special margin cases.
  .my-auto,
  %my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;

    @include ls-mq-property(margin-top, auto);
    @include ls-mq-property(margin-bottom, auto);
  }

  .mx-auto,
  %mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;

    @include ls-mq-property(margin-right, auto);
    @include ls-mq-property(margin-left, auto);
  }
}
