// SETTINGS

$ls-namespace: 'grid' !default; // Prefix namespace for grid layout and cells
$ls-element-name: 'cell' !default; // Element/cell name
$ls-element-class-chain: '__' !default; // Chain characters between block and element
$ls-modifier-class-chain: '--' !default; // Chain characters between block and modifier
$ls-breakpoint-class-chain: '--' !default; // Chain characters between width and breakpoint

$ls-gutter: 20px !default; // Gutter between grid cells
$ls-base-font-size: 1rem; // Change to a pixel value for IE 8 support.

$ls-width-class-namespace: $ls-element-name + '-' !default; // Prefix namespace for width classes. For example; 'col-'
$ls-width-class-style: 'fragment' !default; // Width class naming style. Can be 'percentage' or 'fragment'
$ls-widths: (
  2,
  3,
  4
) !default; // Width denominator values. 2 = 1/2, 3 = 1/3 etc. Add/remove as appropriate

// Spacers
$ls-base-spacer: $ls-gutter !default;

$ls-spacers: (
  0: 0,
  1: $ls-base-spacer * 0.25,
  2: $ls-base-spacer * 0.5,
  3: $ls-base-spacer,
  4: $ls-base-spacer * 1.5,
  5: $ls-base-spacer * 2,
) !default;

$ls-enable-responsive: true !default;
$ls-breakpoints: (
  "thumb": "screen and (max-width: 499px)",
  "handheld": "screen and (min-width: 500px) and (max-width: 800px)",
  "handheld-and-up": "screen and (min-width: 500px)",
  "pocket": "screen and (max-width: 800px)",
  "lap": "screen and (min-width: 801px) and (max-width: 1024px)",
  "lap-and-up": "screen and (min-width: 801px)",
  "portable": "screen and (max-width: 1024px)",
  "desk": "screen and (min-width: 1025px)",
  "widescreen": "screen and (min-width: 1160px)",
  "retina": "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)",
) !default; // Responsive breakpoints. Add/remove as appropriate

// Enable/disable grid layouts
$ls-enable-grid-center: false !default;
$ls-enable-grid-cell-center: false !default;
$ls-enable-grid-right: false !default;
$ls-enable-grid-middle: false !default;
$ls-enable-grid-bottom: false !default;
$ls-enable-grid-flush: false !default;
$ls-enable-grid-tiny: false !default;
$ls-enable-grid-small: false !default;
$ls-enable-grid-medium: false !default;
$ls-enable-grid-large: false !default;
$ls-enable-grid-huge: false !default;
$ls-enable-grid-auto: false !default;
$ls-enable-grid-rev: false !default;


// Map structure:
// $boolean - indicates whether or not the size should compile.
// $key - indicates the name of the size
// $boolean - if true, divides by $operator, otherwise multiply by $operator
// $operator - by which number the loop will divide or multiply

$ls-grids-sizes: (
    ($ls-enable-grid-tiny, 'tiny', true, 4),
    ($ls-enable-grid-small, 'small', true, 2),
    ($ls-enable-grid-medium, 'medium', false, 1),
    ($ls-enable-grid-large, 'large', false, 2),
    ($ls-enable-grid-huge, 'huge', false, 4),
) !default;

// Enable/disable flexbox support
$ls-enable-flex: true !default;

// Enable/disable rtl support
$ls-enable-rtl: true !default;

// Enable/disable spacing utilities
$ls-enable-grid-spacers: false !default;

// Enable/disable responsive spacing utilities
$ls-enable-grid-spacers-breakpoints: $ls-enable-responsive !default;
